
.plain-text {
    font-family: monospace;
    white-space:pre-wrap;
}
.limited-text {
    max-height:400px;
    overflow-y:auto;
}
.neat-box {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 3px;
}
.top-buffer { margin-top:20px; }